^test^
<html>
<form method="POST" id="feedback-form" action="" onsubmit="submitFeedbackForm(event)">
	<div id="feedback-inputs">
		<input
			id="feedback-id"
			type="text"
			name="MAIL_ID"
			aria-label="User ID number"
			placeholder=""
			disabled />
		<input
			id="feedback-name"
			type="text"
			name="MAIL_NAME"
			aria-label="Username"
			placeholder="Name *" />
		<div class="error-fb-name error-message" hidden>This value is required</div>
		<input
			id="feedback-email"
			type="text"
			name="MAIL_EMAIL"
			aria-label="User email"
			placeholder="Email *" />
		<div class="error-fb-email error-message" hidden>This value is required</div>
		<textarea
			id="feedback-detail"
			placeholder="Please give details of your feedback *"
			aria-label="User feedback"
			name="MAIL_FEEDBACK"></textarea>
		<div class="error-fb-detail error-message" hidden>This value is required</div>
	</div>
	<div><button id="feedback-submit-btn" class="collection-title">Submit form</button></div>
</form>
</html>