.theme-fordopac.light {
--background: 240.00 17.65% 96.67%;
--foreground: 233.33 100.00% 1.76%;

--primary: 234.07 100.00% 17.84%;
--primary-foreground: 0.00 0.00% 100.00%;

--card: 240.00 17.65% 96.67%;
--card-foreground: 233.33 100.00% 1.76%;

--popover: 0.00 0.00% 100.00%;
--popover-foreground: 233.33 100.00% 1.76%;

--secondary: 240.00 17.65% 96.67%;
--secondary-foreground: 240.00 100.00% 0.78%;

--muted: 240.00 21.95% 91.96%;
--muted-foreground: 0.00 0.00% 40.00%;
 
--accent: 240.00 21.95% 91.96%;
--accent-foreground: 234.07 100.00% 17.84%;

--destructive: 0 84.2% 60.2%;
--destructive-foreground: 210 40% 98%;

--border: 0.00 0.00% 90.20%;
--input: 0.00 0.00% 90.20%;
--ring: 234.07 100.00% 17.84%;

--radius: 20px;

--ford-white: 0 0% 95.7%;

--ford-grey:0 0% 61.2%;

}

.theme-fordopac.dark {
  --background: 0, 0%, 0%;
  --foreground: 0, 0%, 100%;

  --muted: 0, 0%, 50%;
  --muted-foreground: 0, 0%, 100%;

  --popover: 0, 0%, 5%;
  --popover-foreground: 0, 0%, 100%;

  --border: 0, 68%, 39%;
  --input: 0, 68%, 39%;

  --card: 0, 0%, 5%;
  --card-foreground: 0, 0%, 100%;

  --primary: 0, 100%, 44%;
  --primary-foreground: 0, 0%, 0%;

  --secondary: 0, 0%, 100%;
  --secondary-foreground: 0, 0%, 0%;

  --accent: 0, 100%, 50%;
  --accent-foreground: 0, 0%, 100%;

  --destructive: 0, 68%, 39%;
  --destructive-foreground: 0, 0%, 100%;

  --ring: 0, 100%, 44%;
}


#footer a:hover {
 text-decoration: underline;
}