.theme-vintage.light {
--background: 0.00 0.00% 100.00%;
--foreground: 33.33 27.27% 6.47%;

--primary: 34.88 48.31% 65.10%;
--primary-foreground: 0.00 0.00% 100.00%;

--card: 0.00 0.00% 100.00%;
--card-foreground: 33.33 27.27% 6.47%;

--popover: 0.00 0.00% 100.00%;
--popover-foreground: 33.33 27.27% 6.47%;

--secondary: 36.92 48.15% 94.71%;
--secondary-foreground: 40.00 23.08% 2.55%;

--muted: 37.50 44.44% 96.47%;
--muted-foreground: 0.00 0.00% 40.00%;
 
--accent: 37.50 44.44% 96.47%;
--accent-foreground: 34.88 48.31% 65.10%;

--destructive: 0 84.2% 60.2%;
--destructive-foreground: 210 40% 98%;

--border: 0.00 0.00% 90.20%;
--input: 0.00 0.00% 90.20%;
--ring: 34.88 48.31% 65.10%;

--radius: 0.5rem;
}